<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DecisionTableCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\tmp\TextWriterOutput.log" />
        <!--<remove name="Default" />-->
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <DecisionTableCreator.Properties.Settings>
      <setting name="ExportDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveAsDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastFile" serializeAs="String">
        <value />
      </setting>
      <setting name="LastExportFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value />
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value />
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value />
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value />
      </setting>
      <setting name="MainWindowWindowState" serializeAs="String">
        <value />
      </setting>
      <setting name="MainWindowIsValid" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ActionWindowTop" serializeAs="String">
        <value />
      </setting>
      <setting name="ActionWindowLeft" serializeAs="String">
        <value />
      </setting>
      <setting name="ActionWindowHeight" serializeAs="String">
        <value />
      </setting>
      <setting name="ActionWindowWidth" serializeAs="String">
        <value />
      </setting>
      <setting name="ActionWindowWindowState" serializeAs="String">
        <value />
      </setting>
      <setting name="ActionWindowIsValid" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ConditionWindowTop" serializeAs="String">
        <value />
      </setting>
      <setting name="ConditionWindowLeft" serializeAs="String">
        <value />
      </setting>
      <setting name="ConditionWindowHeight" serializeAs="String">
        <value />
      </setting>
      <setting name="ConditionWindowWidth" serializeAs="String">
        <value />
      </setting>
      <setting name="ConditionWindowWindowState" serializeAs="String">
        <value />
      </setting>
      <setting name="ConditionWindowIsValid" serializeAs="String">
        <value>false</value>
      </setting>
    </DecisionTableCreator.Properties.Settings>
  </userSettings>
</configuration>